<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>292851444089-2qf0gfaulttnvqf8c3d5gn3v4323j57m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292851444089-2qf0gfaulttnvqf8c3d5gn3v4323j57m</string>
	<key>API_KEY</key>
	<string>AIzaSyDfgJ5oLavFtFS2Jg32PgH8BoFN7VmHTgE</string>
	<key>GCM_SENDER_ID</key>
	<string>292851444089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.estelapasjak.MDots</string>
	<key>PROJECT_ID</key>
	<string>mdots-d0b70</string>
	<key>STORAGE_BUCKET</key>
	<string>mdots-d0b70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:292851444089:ios:2b04c812bf1985ff3267a8</string>
</dict>
</plist>
